In [1]:
from os import listdir
from os.path import isfile, join
from pandas.core.common import SettingWithCopyWarning
import pandas as pd
import numpy as np
import sys
from scipy.io import arff
import models
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
 
path = '/home/zeyno/Desktop/Research_Topics/Datasets'

In [2]:
def preprocess_dataset(df):
    #num of columns with majority NaN values
    counter = 0
    for column in list(df.columns):
        #binarize the columns
        if str(df[column][1]).startswith('b'):
            unique = df[column].unique()
            df[column] = df[column].map({unique[0]: 0, unique[1]: 1})
        
        # eliminate columns with too many NaN values (optional)
        # if df[column].isna().sum()/len(df) > 0.85:
        #     print("% NaN values:" + str(df[column].isna().sum()/len(df)))
        #     df = df.drop([column])
    # df = df.dropna()
    return df

In [3]:
def target_type(df):
    df = df.dropna()
    last = df.columns[-1]
    target = df[last]
    diff = target.unique()
    if len(diff) <= 2:
        return "Binary"
    elif len(diff) > 2:
        return "Multinomial"
    return 0

In [4]:
def load_datasets(path):
    metadata_df = pd.DataFrame()
    num_cols = []
    num_rows = []
    datasets = {}
    names = [] #only the names of the datasets that are included 
    t_type = []
    dataset_names = [f for f in listdir(path) if isfile(join(path, f)) and f.endswith('.arff')]
    for i in range(len(dataset_names)):
        try:
            data = arff.loadarff(path+'/'+dataset_names[i])
            df = pd.DataFrame(data[0])
            df = preprocess_dataset(df)
            name_df = dataset_names[i].replace(".arff", "")
            names.append(name_df)
            datasets[name_df] = df
            num_cols.append(df.shape[1])
            num_rows.append(df.shape[0])
            t_type.append(target_type(df))
        except:
            pass
    metadata_df["name_dataset"] = names
    metadata_df["num_columns"] = num_cols
    metadata_df["num_rows"] = num_rows
    metadata_df["target_type"] = t_type
    return datasets, metadata_df

In [5]:
datasets, metadata_df = load_datasets(path)
metadata_df

        name_dataset  num_columns  num_rows  target_type
0        dermatology           35       366       Binary
1        tic-tac-toe           10       958       Binary
2               iris            5       150       Binary
3    hayes-roth_test            5        28       Binary
4     contact-lenses            5        24       Binary
5              adult           15     48842       Binary
6          wisconsin           10       699       Binary
7                cmc           10      1473       Binary
8   hayes-roth_train            5       132       Binary
9              glass           10       214       Binary
10             labor           17        57       Binary
11        ionosphere           35       351       Binary
12               car            7      1728       Binary
13      pima-indians            9       768       Binary
14           abalone            9      4177  Multinomial
15     balance-scale            5       625       Binary
16          haberman            4       306       Binary
17               zoo           18       101       Binary
18          credit-a           16       690       Binary

In [6]:
datasets

{'dermatology':      erythema  scaling  definite_borders  itching  koebner_phenomenon  \
 0         0.0      0.0               0.0      0.0                 0.0
 1         1.0      1.0               1.0      1.0                 1.0
 2         0.0      NaN               NaN      0.0                 1.0
 3         0.0      0.0               NaN      NaN                 0.0
 4         0.0      1.0               NaN      1.0                 NaN
 ..        ...      ...               ...      ...                 ...
 361       0.0      NaN               NaN      NaN                 1.0
 362       1.0      0.0               NaN      NaN                 1.0
 363       1.0      0.0               NaN      1.0                 NaN
 364       0.0      NaN               1.0      NaN                 NaN
 365       1.0      0.0               NaN      NaN                 0.0

      polygonal_papules  follicular_papules  oral_mucosal_involvement  \
 0                  0.0                 0.0                       0.0
 1                  0.0                 0.0                       0.0
 2                  1.0                 0.0                       1.0
 3                  0.0                 0.0                       0.0
 4                  NaN                 0.0                       NaN
 ..                 ...                 ...                       ...
 361                0.0                 0.0                       0.0
 362                0.0                 0.0                       0.0
 363                NaN                 0.0                       NaN
 364                1.0                 0.0                       NaN
 365                0.0                 0.0                       0.0

      knee_and_elbow_involvement  scalp_involvement  ...  \
 0                           0.0                0.0  ...
 1                           0.0                1.0  ...
 2                           1.0                0.0  ...
 3                           NaN                NaN  ...
 4                           1.0                0.0  ...
 ..                          ...                ...  ...
 361                         1.0                0.0  ...
 362                         1.0                0.0  ...
 363                         1.0                0.0  ...
 364                         1.0                0.0  ...
 365                         NaN                NaN  ...

      disappearance_of_the_granular_layer  \
 0                                    0.0
 1                                    0.0
 2                                    0.0
 3                                    1.0
 4                                    NaN
 ..                                   ...
 361                                  0.0
 362                                  NaN
 363                                  0.0
 364                                  0.0
 365                                  NaN

      vacuolisation_and_damage_of_basal_layer  spongiosis  \
 0                                        0.0         0.0
 1                                        0.0         1.0
 2                                        1.0         0.0
 3                                        0.0         1.0
 4                                        NaN         NaN
 ..                                       ...         ...
 361                                      0.0         NaN
 362                                      0.0         NaN
 363                                      NaN         1.0
 364                                      1.0         1.0
 365                                      0.0         1.0

      saw-tooth_appearance_of_retes  follicular_horn_plug  \
 0                              0.0                   0.0
 1                              0.0                   0.0
 2                              1.0                   0.0
 3                              0.0                   0.0
 4                              NaN                   0.0
 ..                             ...                   ...
 361                            0.0                   0.0
 362                            0.0                   0.0
 363                            NaN                   0.0
 364                            NaN                   0.0
 365                            0.0                   0.0

      perifollicular_parakeratosis  inflammatory_monoluclear_inflitrate  \
 0                             0.0                                  0.0
 1                             0.0                                  0.0
 2                             0.0                                  1.0
 3                             0.0                                  NaN
 4                             0.0                                  1.0
 ..                            ...                                  ...
 361                           0.0                                  1.0
 362                           0.0                                  1.0
 363                           0.0                                  1.0
 364                           0.0                                  1.0
 365                           0.0                                  NaN

      band-like_infiltrate   Age  class
 0                     0.0  55.0    0.0
 1                     0.0   8.0    1.0
 2                     1.0  26.0    NaN
 3                     0.0  40.0    1.0
 4                     1.0  45.0    NaN
 ..                    ...   ...    ...
 361                   0.0  25.0    NaN
 362                   0.0  36.0    NaN
 363                   1.0  28.0    NaN
 364                   1.0  50.0    NaN
 365                   0.0  35.0    1.0

 [366 rows x 35 columns],
 'tic-tac-toe':      top-left-square  top-middle-square  top-right-square  middle-left-square  \
 0                0.0                0.0               0.0                 0.0
 1                0.0                0.0               0.0                 0.0
 2                0.0                0.0               0.0                 0.0
 3                0.0                0.0               0.0                 0.0
 4                0.0                0.0               0.0                 0.0
 ..               ...                ...               ...                 ...
 953              1.0                0.0               0.0                 0.0
 954              1.0                0.0               1.0                 0.0
 955              1.0                0.0               1.0                 0.0
 956              1.0                0.0               1.0                 1.0
 957              1.0                1.0               0.0                 0.0

      middle-middle-square  middle-right-square  bottom-left-square  \
 0                     0.0                  0.0                 0.0
 1                     0.0                  0.0                 1.0
 2                     0.0                  0.0                 1.0
 3                     0.0                  0.0                 1.0
 4                     0.0                  0.0                 NaN
 ..                    ...                  ...                 ...
 953                   0.0                  0.0                 1.0
 954                   NaN                  0.0                 0.0
 955                   0.0                  NaN                 0.0
 956                   NaN                  NaN                 0.0
 957                   NaN                  0.0                 1.0

      bottom-middle-square  bottom-right-square  Class
 0                     0.0                  0.0      0
 1                     1.0                  0.0      0
 2                     0.0                  1.0      0
 3                     NaN                  NaN      0
 4                     0.0                  NaN      0
 ..                    ...                  ...    ...
 953                   1.0                  1.0      1
 954                   0.0                  1.0      1
 955                   0.0                  1.0      1
 956                   0.0                  1.0      1
 957                   1.0                  1.0      1

 [958 rows x 10 columns],
 'iris':      sepallength  sepalwidth  petallength  petalwidth  class
 0            5.1         3.5          1.4         0.2    0.0
 1            4.9         3.0          1.4         0.2    0.0
 2            4.7         3.2          1.3         0.2    0.0
 3            4.6         3.1          1.5         0.2    0.0
 4            5.0         3.6          1.4         0.2    0.0
 ..           ...         ...          ...         ...    ...
 145          6.7         3.0          5.2         2.3    NaN
 146          6.3         2.5          5.0         1.9    NaN
 147          6.5         3.0          5.2         2.0    NaN
 148          6.2         3.4          5.4         2.3    NaN
 149          5.9         3.0          5.1         1.8    NaN

 [150 rows x 5 columns],
 'hayes-roth_test':     hobby  age  educational_level  marital_status  class
 0     1.0  1.0                1.0             2.0    0.0
 1     1.0  1.0                2.0             1.0    0.0
 2     1.0  2.0                1.0             1.0    0.0
 3     1.0  1.0                1.0             3.0    0.0
 4     1.0  1.0                3.0             1.0    0.0
 5     1.0  3.0                1.0             1.0    0.0
 6     1.0  1.0                3.0             3.0    0.0
 7     1.0  3.0                1.0             3.0    0.0
 8     1.0  3.0                3.0             1.0    0.0
 9     1.0  2.0                2.0             1.0    1.0
 10    1.0  2.0                1.0             2.0    1.0
 11    1.0  1.0                2.0             2.0    1.0
 12    1.0  2.0                2.0             3.0    1.0
 13    1.0  2.0                3.0             2.0    1.0
 14    1.0  3.0                2.0             2.0    1.0
 15    1.0  2.0                3.0             3.0    1.0
 16    1.0  3.0                2.0             3.0    1.0
 17    1.0  3.0                3.0             2.0    1.0
 18    1.0  1.0                3.0             2.0    0.0
 19    1.0  3.0                2.0             1.0    1.0
 20    1.0  2.0                1.0             3.0    0.0
 21    1.0  2.0                3.0             1.0    1.0
 22    1.0  1.0                2.0             3.0    0.0
 23    1.0  3.0                1.0             2.0    1.0
 24    1.0  1.0                1.0             1.0    0.0
 25    1.0  2.0                2.0             2.0    1.0
 26    1.0  3.0                3.0             3.0    0.0
 27    1.0  4.0                4.0             4.0    NaN,
 'contact-lenses':     age  spectacle-prescrip  astigmatism  tear-prod-rate  contact-lenses
 0   0.0                   0            0               0             0.0
 1   0.0                   0            0               1             1.0
 2   0.0                   0            1               0             0.0
 3   0.0                   0            1               1             NaN
 4   0.0                   1            0               0             0.0
 5   0.0                   1            0               1             1.0
 6   0.0                   1            1               0             0.0
 7   0.0                   1            1               1             NaN
 8   1.0                   0            0               0             0.0
 9   1.0                   0            0               1             1.0
 10  1.0                   0            1               0             0.0
 11  1.0                   0            1               1             NaN
 12  1.0                   1            0               0             0.0
 13  1.0                   1            0               1             1.0
 14  1.0                   1            1               0             0.0
 15  1.0                   1            1               1             0.0
 16  NaN                   0            0               0             0.0
 17  NaN                   0            0               1             0.0
 18  NaN                   0            1               0             0.0
 19  NaN                   0            1               1             NaN
 20  NaN                   1            0               0             0.0
 21  NaN                   1            0               1             1.0
 22  NaN                   1            1               0             0.0
 23  NaN                   1            1               1             0.0,
 'adult':         Age  Workclass    Fnlwgt  Education  Education num  Marital status  \
 0      39.0        0.0   77516.0        0.0           13.0             0.0
 1      50.0        1.0   83311.0        0.0           13.0             1.0
 2      38.0        NaN  215646.0        1.0            9.0             NaN
 3      53.0        NaN  234721.0        NaN            7.0             1.0
 4      28.0        NaN  338409.0        0.0           13.0             1.0
 ...     ...        ...       ...        ...            ...             ...
 48837  39.0        NaN  215419.0        0.0           13.0             NaN
 48838  64.0        NaN  321403.0        1.0            9.0             NaN
 48839  38.0        NaN  374983.0        0.0           13.0             1.0
 48840  44.0        NaN   83891.0        0.0           13.0             NaN
 48841  35.0        NaN  182148.0        0.0           13.0             1.0

        Occupation  Relationship  Race  Sex  Capital gain  Capital loss  \
 0             0.0           0.0   0.0    0        2174.0           0.0
 1             1.0           1.0   0.0    0           0.0           0.0
 2             NaN           0.0   0.0    0           0.0           0.0
 3             NaN           1.0   1.0    0           0.0           0.0
 4             NaN           NaN   1.0    1           0.0           0.0
 ...           ...           ...   ...  ...           ...           ...
 48837         NaN           0.0   0.0    1           0.0           0.0
 48838         NaN           NaN   1.0    0           0.0           0.0
 48839         NaN           1.0   0.0    0           0.0           0.0
 48840         0.0           NaN   NaN    0        5455.0           0.0
 48841         1.0           1.0   0.0    0           0.0           0.0

        Hours per week  Native country  Class
 0                40.0             0.0      0
 1                13.0             0.0      0
 2                40.0             0.0      0
 3                40.0             0.0      0
 4                40.0             1.0      0
 ...               ...             ...    ...
 48837            36.0             0.0      0
 48838            40.0             0.0      0
 48839            50.0             0.0      0
 48840            40.0             0.0      0
 48841            60.0             0.0      1

 [48842 rows x 15 columns],
 'wisconsin':      Clump thickness  Cell size uniformity  Cell shape uniformity  \
 0                5.0                   1.0                    1.0
 1                5.0                   4.0                    4.0
 2                3.0                   1.0                    1.0
 3                6.0                   8.0                    8.0
 4                4.0                   1.0                    1.0
 ..               ...                   ...                    ...
 694              3.0                   1.0                    1.0
 695              2.0                   1.0                    1.0
 696              5.0                  10.0                   10.0
 697              4.0                   8.0                    6.0
 698              4.0                   8.0                    8.0

      Marginal adhesion  Single epithelial cell size  Bare nuclei  \
 0                  1.0                          2.0          1.0
 1                  5.0                          7.0         10.0
 2                  1.0                          2.0          2.0
 3                  1.0                          3.0          4.0
 4                  3.0                          2.0          1.0
 ..                 ...                          ...          ...
 694                1.0                          3.0          2.0
 695                1.0                          2.0          1.0
 696                3.0                          7.0          3.0
 697                4.0                          3.0          4.0
 698                5.0                          4.0          5.0

      Bland chromatin  Normal nucleoli  Mitoses  Class
 0                3.0              1.0      1.0      0
 1                3.0              2.0      1.0      0
 2                3.0              1.0      1.0      0
 3                3.0              7.0      1.0      0
 4                3.0              1.0      1.0      0
 ..               ...              ...      ...    ...
 694              1.0              1.0      1.0      0
 695              1.0              1.0      1.0      0
 696              8.0             10.0      2.0      1
 697             10.0              6.0      1.0      1
 698             10.0              4.0      1.0      1

 [699 rows x 10 columns],
 'cmc':       Wifes_age  Wifes_education  Husbands_education  \
 0          24.0              0.0                 0.0
 1          45.0              1.0                 0.0
 2          43.0              0.0                 0.0
 3          42.0              NaN                 1.0
 4          36.0              NaN                 0.0
 ...         ...              ...                 ...
 1468       33.0              NaN                 NaN
 1469       33.0              NaN                 NaN
 1470       39.0              NaN                 0.0
 1471       33.0              NaN                 0.0
 1472       17.0              NaN                 0.0

       Number_of_children_ever_born  Wifes_religion  Wifes_now_working?  \
 0                              3.0               0                   0
 1                             10.0               0                   0
 2                              7.0               0                   0
 3                              9.0               0                   0
 4                              8.0               0                   0
 ...                            ...             ...                 ...
 1468                           2.0               0                   1
 1469                           3.0               0                   0
 1470                           8.0               0                   1
 1471                           4.0               0                   1
 1472                           1.0               0                   0

       Husbands_occupation  Standard-of-living_index  Media_exposure  \
 0                     0.0                       0.0               0
 1                     1.0                       1.0               0
 2                     1.0                       1.0               0
 3                     1.0                       0.0               0
 4                     1.0                       NaN               0
 ...                   ...                       ...             ...
 1468                  0.0                       1.0               0
 1469                  NaN                       1.0               0
 1470                  NaN                       1.0               0
 1471                  0.0                       NaN               0
 1472                  0.0                       1.0               0

       Contraceptive_method_used
 0                           0.0
 1                           0.0
 2                           0.0
 3                           0.0
 4                           0.0
 ...                         ...
 1468                        NaN
 1469                        NaN
 1470                        NaN
 1471                        NaN
 1472                        NaN

 [1473 rows x 10 columns],

In [11]:
def run_algorithms(df, name):
    df = df.dropna()
    target = df.columns[-1]
    results = {}
    
    print("__________________________________________")
    print("START Dataset: ", name)
    print("__________________________________________")
    
    # # run sd
    # sd = models.sd(df, target)
    # print(sd.values())
    # print("__________________________________________")

    #cn2_sd
    print("CN2_SD")
    cn2_sd = models.cn2_sd(df, target).values()
    print("__________________________________________")
    results["cn2_sd"] = list(cn2_sd)

    #run sd_map
    print("SD_MAP")
    sd_map = models.sd_map(df, target, min_support=0.1).values()
    print("__________________________________________")
    results["sd_map"] = list(sd_map)

    #run dssd
    print("DSSD")
    dssd = models.dssd(df, target, min_support=0.1).values()
    print("__________________________________________")
    results["dssd"] = list(dssd)

    #run nmeef || havent added the evaluation metrics yet
    # print("NMEEF-SD")
    # nmeef = models.nmeef_sd(df, target)
    # print(nmeef)
    # print("__________________________________________")

    #run apriori
    print("Apriori-SD")
    a = models.apriori_sd(df, target, min_threshold = 0.1).values()
    results["a"] = list(a)
    print("__________________________________________")
    print("END Dataset: ", name)
    print("__________________________________________")

    return results

In [12]:
meta_2 = {}
for key in datasets:
    if key in ["dermatology", "labor", "ionosphere"]:
        continue
    print(key)
    results = run_algorithms(datasets[key], key)
    meta_2[key] = results

tic-tac-toe
__________________________________________
START Dataset:  tic-tac-toe
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD

/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

__________________________________________
END Dataset:  tic-tac-toe
__________________________________________
iris
__________________________________________
START Dataset:  iris
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  iris
__________________________________________
hayes-roth_test
__________________________________________
START Dataset:  hayes-roth_test
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  hayes-roth_test
__________________________________________
contact-lenses
__________________________________________
START Dataset:  contact-lenses
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  contact-lenses
__________________________________________
adult
__________________________________________
START Dataset:  adult
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  adult
__________________________________________
wisconsin
__________________________________________
START Dataset:  wisconsin
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  wisconsin
__________________________________________
cmc
__________________________________________
START Dataset:  cmc
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  cmc
__________________________________________
hayes-roth_train
__________________________________________
START Dataset:  hayes-roth_train
__________________________________________
CN2_SD

/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  hayes-roth_train
__________________________________________
glass
__________________________________________
START Dataset:  glass
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  glass
__________________________________________
car
__________________________________________
START Dataset:  car
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD

/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

__________________________________________
END Dataset:  car
__________________________________________
pima-indians
__________________________________________
START Dataset:  pima-indians
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  pima-indians
__________________________________________
abalone
__________________________________________
START Dataset:  abalone
__________________________________________
CN2_SD

/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  abalone
__________________________________________
balance-scale
__________________________________________
START Dataset:  balance-scale
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD

/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

__________________________________________
END Dataset:  balance-scale
__________________________________________
haberman
__________________________________________
START Dataset:  haberman
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  haberman
__________________________________________
zoo
__________________________________________
START Dataset:  zoo
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD

/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/zeyno/.local/lib/python3.10/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

__________________________________________
END Dataset:  zoo
__________________________________________
credit-a
__________________________________________
START Dataset:  credit-a
__________________________________________
CN2_SD
__________________________________________
SD_MAP
__________________________________________
DSSD
__________________________________________
Apriori-SD
__________________________________________
END Dataset:  credit-a
__________________________________________

In [13]:
# Dictionary that contains dictionaries per dataset, and the scores per algorithm.
# For each algorithm result, the list represents the scores in these evaluation metrics:
# Quality, Coverage, Support, number of subgroups, average length of subgroups (i.e. hte number of rules used to represent a subgroup, on average)
meta_2

{'tic-tac-toe': {'cn2_sd': [-0.9204798598230077, 0.8632478632478633, 3, 1.0],
  'sd_map': [-0.01905640798829651,
   8.263157894736842,
   0.21187584345479082,
   19,
   0],
  'dssd': [-0.028846153846153806,
   5.230769230769231,
   0.1341222879684418,
   13,
   0],
  'a': [0, nan, nan, 0, nan]},
 'iris': {'cn2_sd': [-0.25, 0.7375, 4, 2.0],
  'sd_map': [0.35259375545089827,
   43.77777777777778,
   0.43777777777777777,
   9,
   0],
  'dssd': [0.4450549450549451, 42.142857142857146, 0.4214285714285714, 7, 0],
  'a': [0, 0.9854227405247814, 0.4657142857142857, 7, 1.7142857142857142]},
 'hayes-roth_test': {'cn2_sd': [-0.9586530524674854, 1.0, 2, 1.0],
  'sd_map': [-0.09259259259259257, 6.0, 0.22222222222222224, 6, 0],
  'dssd': [-0.09259259259259257, 6.0, 0.22222222222222224, 6, 0],
  'a': [0, 0.4444444444444444, 0.14814814814814814, 3, 1.0]},
 'contact-lenses': {'cn2_sd': [-0.8904916402194913, 1.0, 1, 1.0],
  'sd_map': [0.09230769230769231, 5.0, 0.38461538461538464, 2, 0],
  'dssd': [0.09230769230769231, 5.0, 0.38461538461538464, 2, 0],
  'a': [0, 0.8, 0.3076923076923077, 1, 1.0]},
 'adult': {'cn2_sd': [-0.5732196994689286,
   0.5543378995433791,
   18,
   3.6666666666666665],
  'sd_map': [0.014527147015539357,
   94.15384615384616,
   0.2579557428872497,
   13,
   0],
  'dssd': [0.03039433035982883, 60.625, 0.1660958904109589, 8, 0],
  'a': [0, 0.45227473930107953, 0.18246575342465754, 5, 1.2]},
 'wisconsin': {'cn2_sd': [-0.10810601364657141,
   0.4712772371027474,
   17,
   1.9411764705882353],
  'sd_map': [0.6083771602304966,
   130.70623742454728,
   0.19137077221749235,
   497,
   0],
  'dssd': [0.6348033869304477, 80.4421052631579, 0.1177776065346383, 95, 0],
  'a': [0, 0.957971530660975, 0.1822348391098335, 491, 4.3991853360488795]},
 'cmc': {'cn2_sd': [-0.370136837513882, 0.6468646864686468, 6, 2.5],
  'sd_map': [-0.04194434123459981,
   23.22222222222222,
   0.22992299229922994,
   18,
   0],
  'dssd': [-0.052574900347177586, 17.0, 0.16831683168316833, 10, 0],
  'a': [0, nan, nan, 0, nan]},
 'hayes-roth_train': {'cn2_sd': [-0.6222753871678721,
   0.6680672268907563,
   7,
   2.0],
  'sd_map': [0.0, 20.5, 0.20098039215686272, 4, 0],
  'dssd': [0.0, 20.5, 0.20098039215686272, 4, 0],
  'a': [0, 0.5, 0.16666666666666666, 1, 1.0]},
 'glass': {'cn2_sd': [-0.4559171047563119,
   0.9003831417624522,
   3,
   3.6666666666666665],
  'sd_map': [-0.03289450236370774,
   20.489795918367346,
   0.23551489561341782,
   49,
   0],
  'dssd': [-0.02790450409902465,
   14.518518518518519,
   0.16687952320136226,
   27,
   0],
  'a': [0, 0.2504614248800295, 0.12260536398467432, 3, 1.0]},
 'car': {'cn2_sd': [0.0, 0.8333333333333334, 3, 1.0],
  'sd_map': [0.0, 14.439024390243903, 0.22560975609756098, 41, 0],
  'dssd': [0.0, 9.142857142857142, 0.14285714285714285, 21, 0],
  'a': [0, nan, nan, 0, nan]},
 'pima-indians': {'cn2_sd': [-0.47601423255179853,
   0.5352719907407409,
   45,
   3.933333333333333],
  'sd_map': [-0.21307965943340978,
   148.54310344827587,
   0.1934154992816092,
   116,
   0],
  'dssd': [-0.21550941714125965, 122.775, 0.15986328125000002, 80, 0],
  'a': [0, nan, nan, 0, nan]},
 'abalone': {'cn2_sd': [-2.241235443162717,
   0.5309974980517617,
   172,
   3.947674418604651],
  'sd_map': [0.8390938918157839,
   811.1490196078431,
   0.2861195836359235,
   255,
   0],
  'dssd': [1.092123286545071, 550.8333333333334, 0.19429747207524983, 12, 0],
  'a': [0, 0.59891102118458, 0.1705391292319396, 255, 4.015686274509804]},
 'balance-scale': {'cn2_sd': [-0.2549687415453349,
   0.5472434796189287,
   19,
   2.8947368421052633],
  'sd_map': [-0.013101561112818707, 82.0, 0.2433234421364985, 9, 0],
  'dssd': [-0.003966122286658237,
   63.42857142857143,
   0.18821534548537516,
   7,
   0],
  'a': [0, nan, nan, 0, nan]},
 'haberman': {'cn2_sd': [-0.5182905766466229,
   0.882716049382716,
   3,
   3.6666666666666665],
  'sd_map': [0.12848317543969717,
   16.666666666666668,
   0.30864197530864196,
   6,
   0],
  'dssd': [0.21043771043771042, 10.333333333333334, 0.19135802469135801, 3, 0],
  'a': [0, 0.37959345002823264, 0.12962962962962965, 4, 1.25]},
 'zoo': {'cn2_sd': [0.0, 1.0, 1, 1.0],
  'sd_map': [0.0, 1.0, 0.5, 7, 0],
  'dssd': [0.0, 1.0, 0.5, 7, 0],
  'a': [0, nan, nan, 0, nan]},
 'credit-a': {'cn2_sd': [-0.2137188937705454, 0.6628151260504203, 7, 3.0],
  'sd_map': [-0.0866300899779427,
   25.94736842105263,
   0.19078947368421054,
   114,
   0],
  'dssd': [-0.07407547571481454,
   18.666666666666668,
   0.13725490196078421,
   72,
   0],
  'a': [0, 0.6428631311893697, 0.16176470588235292, 20, 1.6]}}